@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: rgb(207 216 220);
}

.Toastify__toast-container--top-center {
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: unset !important;
}

.Toastify__close-button--light {
  margin-top: 16px;
}

